*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    margin-bottom: 50px;
}
#root {
    display: flex;
    align-items: flex-start;
    gap: 90px;
}
#root,section {
    margin-top: 50px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
textarea {
    height: 80vh;
    resize: none;
    width: 500px;
    background-color: lightblue;
    padding:30px;
    border-radius: 10px;
}
.heading {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 3rem;
}
img {
    max-width: 500px;
}
#preview {
    width: 500px;
    background-color: lightblue;
    padding: 30px;
    border-radius: 10px;
}
section {
    border-radius: 10px;
}